*{
    box-sizing: border-box;
}

header{
    background-color: rgb(233, 230, 230);
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 0px;
}

.navbar-brand{
    color:#000000;
    font-family:'Cinzel Decorative', cursive;
}

.navbar-brand:hover{
    color:#000000;
}

a.nav-link{
    color:#000000;
    font-family: 'Lato', sans-serif;

}

a.nav-link:hover{
    color:#FCA311;
}

.modal-header{
    background-color: #e5e5e5;
    color: #14213D;
}

.hero-background{
    background-image: url("images/everythings-grand-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:100vh;
    width:100%;
}

#hero-title{
    width: 100%;
    text-align: center;
    margin:0px;
    font-size: 6vw;
    text-shadow: 0.1rem 0.1rem #A5AACA;
    font-family: 'Cinzel Decorative', cursive;
}

@keyframes grey-hero {
    from{margin-top:100px;
        opacity: 0.5;}

    to{margin-top:0px;
        opacity: 1;}
  }

#general-info{
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    margin-left: 6vw;
    margin-right: 6vw;
}

footer{
    height: 100px;
    text-align: center;
}

footer li{
    display:inline;
    padding:1%;
    margin:8%;
}
