#hero_background{
    position:relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width:150%;
    margin-left: auto;
    margin-right: auto;
} 

#hero_image{
    position:absolute;
    top: 400px;
    left: 0px;
    width:100%;
    margin-top:0px;
    margin-bottom: 100px;
    animation-name: grey_hero;
    animation-duration: 5s;
}

#hero_title{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    margin:0px;
    font-size: 6vw;
    text-shadow: 0.1rem 0.1rem #A5AACA;
    font-family: 'Cinzel Decorative', cursive;
}

@keyframes grey_hero {
    from{margin-top:100px;
        opacity: 0.5;}

    to{margin-top:0px;
        opacity: 1;}
  }


#enquiry{
    float: right;
}

.navbar-brand{
    font-family: 'Lato', sans-serif;
}

#nav_title{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

#general_info{
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    margin-left: 6vw;
    margin-right: 6vw;
}

#specifics{
    font-family: 'Lato', sans-serif;
    margin:5%;
}

#services_card{
    text-align: right;
}

footer{
    height: 100px;
    text-align: center;
}

footer li{
    display:inline;
    padding:1%;
    margin:8%;
}

footer li i{
    font-size: 50px;
    color: grey;
}