*{
    box-sizing: border-box;
}

header{
    background-color: rgb(233, 230, 230);
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 0px;
}

main{
    background: #14213D;
}
.navbar-brand{
    color:#000000;
    font-family:'Cinzel Decorative', cursive;
    text-shadow: 0.1rem 0.1rem #A5AACA;

}

.navbar-brand:hover{
    color:#FCA311;
    text-shadow: 0.05rem 0.05rem #808080;

}

a.nav-link{
    color:#000000;
    font-family: 'Lato', sans-serif;
    text-shadow: 0.1rem 0.1rem #A5AACA;

}

a.nav-link:hover{
    color:#FCA311;
    text-shadow: 0.05rem 0.05rem #808080;
}

.modal-content{
    font-family: 'Lato', sans-serif;
    color: #14213D;
}

.modal-header{
    background-color: #e5e5e5;
}

.btn-outline-secondary:hover{
    background-color: #FCA311 !important;
}

.hero-background{
    background-image: url("images/everythings-grand-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:80vh;
    width:100%;
}

#hero-title{
    width: 100%;
    text-align: center;
    margin:0px;
    font-size: 9vw;
    text-shadow: 0.1rem 0.1rem #A5AACA;
    font-family: 'Cinzel Decorative', cursive;
}

#hero-image{
    margin-bottom:100px;
    animation: move-hero 5s;
}

@keyframes move-hero {
    from {
        margin-top: 100px;
        margin-bottom:0px;
        opacity: 0.5;
    }
    to {
        margin-top: 0px;
        margin-bottom:100px;
        opacity: 1;
    }
}

#general-info{
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
    margin-top: 10vw;
    text-shadow: 0.1rem 0.1rem #000000;
    color: #e5e5e5;
    width: 100%;
}

#general-info ul{
    list-style-type: none;
}

#general-info li{
    padding: 0.75vw;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#info-title{
    font-family:'Cinzel Decorative', cursive;
    color: #FCA311;
    font-size: 9vw;
    padding: 2vw;
}

.services-title{
    font-family: 'Cinzel Decorative', cursive;
    color: #FCA311;
    margin-top: 8vh;
    font-size: 10vw;
    text-align: center;
    text-shadow: 0.05rem 0.05rem #e5e5e5;
}

.services-content{
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    color: #14213D;
    text-shadow: 0.02rem 0.02rem #000000;
    padding: 3vw;
}

.services-card{
    background-color: #e5e5e5;
    border-radius: 2rem;
    box-shadow: #e5e5e5 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 10vw;
}

/* #services-background-image{
    background-image: url(images/services.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    height:100vh;
    width:100%;
} 
 */
.carousel-item{
    height: 45vw;
}

#carousel-image{
    opacity:0.5;    
}

.carousel-inner{
    margin: auto;
    border-radius: 1rem;
    z-index: 3;
    box-shadow: #e5e5e5 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.carousel-caption{
    height: 100%;
    right: 5% !important;
    left: 5% !important;
    margin: auto;
    width: 90%;
}

.carousel-caption h5{
    font-size: 8vw;
    color: #FCA311;
    text-shadow: 0.05rem 0.05rem #e5e5e5;
    margin-top: 2vh;
    padding-bottom:2vw;
    font-family: 'Cinzel Decorative', cursive;
}

.carousel-caption p{
    font-family: 'Lato', sans-serif;
    font-size: 1.7vh;
    color: #FCA311;
    text-shadow: 0.01rem 0.01rem #e5e5e5;
}

#practitioners{
    color: #14213D;
    text-shadow: 0.05rem 0.05rem #000000;
}

#practitioners-title{
    font-family: 'Cinzel Decorative', cursive;
    color: #FCA311;
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-size: 8vw;
    text-align: center;
    text-shadow: 0.05rem 0.05rem #e5e5e5; 
}

.practitioners-card{
    background-color: #e5e5e5;
}

.practitioners-card p{
    color: #FCA311;
}

.practitioners-card-text-second{
    display: none;
}

/* #practitioners-background-image{
    background-image: url(images/practitioners.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    opacity: 0.15;
    height:100vh;
    width:100%;
    z-index: 1;
} */

footer{
    height: 100px;
    text-align: center;
}

footer li{
    display:inline;
    padding:1%;
    margin:8%;
    font-size: 6vh;
}

footer li a{
    color: #14213D;
}

footer li a:hover{
    color: #FCA311;
}

@media only screen and (min-width: 575px) {
    .hero-background{
        height:100vh;
    }
    #general-info{
        font-size: 2.2vh;
        margin-top: 0;
    }
}
@media only screen and (min-width: 765px) {
    .hero-background{
        height:100vh;
    }
    .carousel-caption h5{
        font-size: 5vw;
        margin-top: 2vh;
        padding-bottom:2vw;
    }
    
}
@media only screen and (min-width: 800px) {
    #hero-title {
        font-size: 8vh;
    }
    #info-title{
        font-size: 8vh;
        padding: 0;
    }
    #general-info{
        font-size: 2.5vh;
        position: absolute;
        bottom:-3vw;
        left: 0px;
    }
    .services-title{
        font-size: 10vh;
    }
    .services-content{
        font-size: 1.8vw;
        padding: 2vw;
    }
}

@media only screen and (min-width: 1200px) {
    #hero-title {
        font-size: 10vh;
    }
    #general-info li{
        padding: 0.1rem;
    }
    .services-content{
        font-size: 1.5vw;
    }
    .carousel-item{
        height: 45vw;
    }
    .carousel-caption p{
        font-size: 1.5vw;
    }
}